.heading{
    text-align: center;
    background-color: rgb(200, 93, 93);
    color: white;
}

body{
    background-color:rgb(202, 141, 202);
}

.seccol{
    text-align: center;
    color: white;
}

.thirdrow{

}

.col{
    color: white;
}
